<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>
<body>
    <section class="">
        <div class="banner">

        </div>
        <div class="home-text" >
        
        <p class="p-home" >Indian Railways<br>
            
        </p>
        <div style="letter-spacing: 2vh; text-align: center;">Safety | Security | Punctuality</div> 
        <!-- <button  th:href="@{/signin}" class="btn bg-nav btn-outline-dark btn-lg">Get Started</button> -->
        <!-- <a th:href="@{/signin}" role="button" class="btn bg-nav btn-outline-dark btn-lg">
            Get Started
        </a> -->
        </div>
    </section>
    
</body>
</html>